<!DOCTYPE html>
<html>
<head>
  <title>DiscoveryMars</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>
 <%= image_tag :rover_header %>
</header>
<%= yield %>

</body>
</html>
